In [ ]:
#Author: Jonathan Loyd
#Description: Python3 Getting Word Counts for a Chapter Book
#CSE590-59 Project 2

In [1]:
from collections import Counter
import pandas as pd
import re

In [2]:
# Read in metamorphosis text and get the string
alice_txt = open("alice.txt", "r", encoding="utf8")
content_string = alice_txt.read()

# Remove the start and ending pieces of the book
start_index = content_string.find("CHAPTER I.\nDown the Rabbit-Hole")
end_index = content_string.find(r"*** END OF THE PROJECT GUTENBERG EBOOK ALICE’S ADVENTURES IN WONDERLAND ***")
content_string = content_string[start_index:end_index].strip()

# Get one+ digits with . or, and more digits or any nonalphanumeric characters
# Group the numbers and make nonalphanumeric characters into spaces
content_string = re.sub(r'(\d+(?:[,.]\d+)+)|[\W_]+', lambda x: x.group(1) if x.group(1) else ' ', content_string).strip()
# print(content_string)

# Split the string
word_list = content_string.split()
# print(word_list)

In [3]:
# Count the frequency and create a dict for the DataFrame
string_counter = Counter(word_list)
key_list = list()
value_list = list()
for key, value in string_counter.items():
    key_list.append(key)
    value_list.append(value)
df_dict = {'Word': key_list, 'Count' : value_list}

In [4]:
# Create the Dataframe
df = pd.DataFrame(df_dict, index=range(1, len(value_list)+1))
df

             Word  Count
1         CHAPTER     12
2               I    545
3            Down      3
4             the   1533
5          Rabbit     45
...           ...    ...
2837      sorrows      1
2838         joys      1
2839  remembering      1
2840        happy      1
2841          END      1

[2841 rows x 2 columns]

In [5]:
# In case you want the DataFrame printed out without formatting
print(df)

             Word  Count
1         CHAPTER     12
2               I    545
3            Down      3
4             the   1533
5          Rabbit     45
...           ...    ...
2837      sorrows      1
2838         joys      1
2839  remembering      1
2840        happy      1
2841          END      1

[2841 rows x 2 columns]

In [6]:
# Bring in the stop words variable from the python file
import stop_words

# Get the indices of all of the stop_words to remove
indices = list()
for word in stop_words.stop_words:
    for i in range(1, len(df.Word)+1):
        if word == df.Word[i]:
            indices.append(i)

# Deep copy the dataframe and then
# Remove stop-words from the dataframe and sort by descending count frequency
df2 = df.copy(deep=True)
df2.drop(indices, inplace=True)
df2 = df2.sort_values(by=['Count'], ascending=False)
df2

          Word  Count
2            I    545
7        Alice    397
150        The    108
299       know     87
159    herself     83
...        ...    ...
911   soothing      1
1917     Visit      1
919     lazily      1
920       sits      1
2841       END      1

[2468 rows x 2 columns]

In [7]:
#Again printing in plain format just in case
print(df2)

          Word  Count
2            I    545
7        Alice    397
150        The    108
299       know     87
159    herself     83
...        ...    ...
911   soothing      1
1917     Visit      1
919     lazily      1
920       sits      1
2841       END      1

[2468 rows x 2 columns]

In [8]:
# Split the book into chapters and remove the chapter number/roman numerals
chapters = re.split("CHAPTER ", content_string)
chapters.pop(0)
for i, chapter in enumerate(chapters):
    if chapter.startswith("I.\n") or chapter.startswith("V.\n") or chapter.startswith("X.\n"):
        chapters[i] = chapter[3:]
    elif chapter.startswith("II.\n") or chapter.startswith("IV.\n") or chapter.startswith("VI.\n")\
    or chapter.startswith("IX.\n") or chapter.startswith("XI.\n"):
        chapters[i] = chapter[4:]
    elif chapter.startswith("III.\n") or chapter.startswith("VII.\n") or chapter.startswith("XII.\n"):
        chapters[i] = chapter[5:]
    elif chapter.startswith("VIII.\n"):
        chapters[i] = chapter[6:]

In [17]:
dataframe_list = list()
for chapter in chapters:
    # Create the dataframe for the chapter
    chapter_string = chapter.strip()
    chapter_string = re.sub(r'(\d+(?:[,.]\d+)+)|[\W_]+', lambda x: x.group(1) if x.group(1) else ' ', chapter_string).strip()
    chapter_word_list = chapter_string.split()
    string_counter = Counter(chapter_word_list)
    key_list = list()
    value_list = list()
    for key, value in string_counter.items():
        key_list.append(key)
        value_list.append(value)
    df_dict = {'Word': key_list, 'Count' : value_list}
    chapter_df = pd.DataFrame(df_dict, index=range(1, len(value_list)+1))
    
    # Get indices to remove
    indices = list()
    for word in stop_words.stop_words:
        for i in range(1, len(chapter_df.Word)+1):
            if word == chapter_df.Word[i]:
                indices.append(i)
    # Remove those indices
    chapter_df.drop(indices, inplace=True)
    chapter_df = chapter_df.sort_values(by=['Count'], ascending=False)
    dataframe_list.append(chapter_df)

In [18]:
for i, dataframe in enumerate(dataframe_list):
    print(f'Chapter: {i+1}\n{dataframe}')

Chapter: 1
        Word  Count
1          I     36
6      Alice     28
158  herself     13
135      see     10
105     time      9
..       ...    ...
328      cat      1
326    night      1
323  talking      1
320  written      1
637     work      1

[434 rows x 2 columns]
Chapter: 2
        Word  Count
28         I     73
10     Alice     26
498    Mouse     11
131     dear      9
87   thought      9
..       ...    ...
334   repeat      1
331      lap      1
329  crossed      1
326    wrong      1
651    party      1

[438 rows x 2 columns]
Chapter: 3
         Word  Count
81          I     37
58      Alice     23
105     Mouse     18
241      Dodo     12
87       know     11
..        ...    ...
277    paused      1
270   audibly      1
269  tittered      1
268     other      1
597    coming      1

[408 rows x 2 columns]
Chapter: 4
        Word  Count
50         I     64
55     Alice     31
134  herself     17
8       Bill     14
3     Rabbit     12
..       ...    ...
393    Fetch      1
392   listen      1
391  stopped      1
388  minutes      1
740   notice      1

[513 rows x 2 columns]
Chapter: 5
            Word  Count
45             I     76
8          Alice     35
5    Caterpillar     26
514       Pigeon     11
230          And     10
..           ...    ...
313       steady      1
312          eye      1
308         rest      1
307       lasted      1
644      venture      1

[433 rows x 2 columns]
Chapter: 6
          Word  Count
156          I     45
62       Alice     43
590        Cat     17
103    Duchess     14
634        mad     12
..         ...    ...
369  saucepans      1
368     shower      1
366      irons      1
365      reach      1
719    Suppose      1

[495 rows x 2 columns]
Chapter: 7
               Word  Count
54                I     62
51            Alice     51
22           Hatter     33
28         Dormouse     27
20            March     22
..              ...    ...
328           music      1
327            beat      1
325         Perhaps      1
320  contemptuously      1
640       fountains      1

[435 rows x 2 columns]
Chapter: 8
          Word  Count
32       Alice     39
3        Queen     35
2          The     21
65           I     19
290       head     12
..         ...    ...
344       loud      1
343     shrill      1
341       foot      1
340  carefully      1
684     wildly      1

[469 rows x 2 columns]
Chapter: 9
          Word  Count
32       Alice     52
13           I     44
4       Turtle     28
3         Mock     26
440    Gryphon     20
..         ...    ...
338     linked      1
336  favourite      1
335     middle      1
332       died      1
673      games      1

[462 rows x 2 columns]
Chapter: 10
           Word  Count
70            I     31
44      Gryphon     31
22        Alice     30
6        Turtle     29
5          Mock     28
..          ...    ...
345       asked      1
347   curiosity      1
348       Soles      1
349        eels      1
590  melancholy      1

[406 rows x 2 columns]
Chapter: 11
        Word  Count
78         I     35
7       King     26
282   Hatter     20
73     Alice     16
61     court     15
..       ...    ...
317    dates      1
319  reduced      1
320   answer      1
2        Who      1
568   shrill      1

[383 rows x 2 columns]
Chapter: 12
           Word  Count
2         Alice     23
60            I     23
99         King     22
31         jury     13
94          The     10
..          ...    ...
359       Begin      1
358       begin      1
356       Where      1
355  spectacles      1
689         END      1

[481 rows x 2 columns]